/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
// -------------------
// | 7      |  8  |  9  |
// | 4      |  5  |  6  |
// | 1      |  2  |  3  |
// | MO(1)  |  0  |  .  |
// ----------------------
            bindings = <
    &kp LEFT_SHIFT(F10)               &kp LEFT_SHIFT(F9)               &kp LEFT_CONTROL(F2)
    &kp LEFT_CONTROL(LEFT_SHIFT(F10)) &kp LEFT_CONTROL(LEFT_SHIFT(F9)) &kp LEFT_SHIFT(F6)
    &kp LEFT_CONTROL(LEFT_ALT(M))     &kp LEFT_CONTROL(LEFT_SHIFT(F8)) &kp LEFT_ALT(F7)
    &kp LEFT_ALT(F1) 1                &kp LEFT_ALT(F1) 4               &kp LEFT_CONTROL(LEFT_ALT(H))
            >;
        };
    };
};

